.header {
  display: flex;
  flex-direction: row;
  padding-top: 0px;
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
  background: #ffffff66;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.header > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    background: #ffffffcf;
    padding: 16px;
  }
}
.headerscrolledVariant {
  background: #ffffffe6;
  height: auto;
  box-shadow: 0px 4px 30px 0px #adb5bda8;
}
.headercompanyPageOpen > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.headercompanyPageOpen > :global(.__wab_flex-container) > *,
.headercompanyPageOpen
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.headercompanyPageOpen > :global(.__wab_flex-container) > picture > img,
.headercompanyPageOpen
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.freeBox__ggQ0W {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBoxcompanyPageOpen__ggQ0W6UNc5 {
  align-items: center;
  justify-content: center;
}
.freeBox__ayNfy {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 0;
  margin: 0px;
}
.freeBox__ayNfy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ayNfy > :global(.__wab_flex-container) > *,
.freeBox__ayNfy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ayNfy > :global(.__wab_flex-container) > picture > img,
.freeBox__ayNfy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ayNfy {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    height: auto;
    min-width: 0;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ayNfy > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ayNfy > :global(.__wab_flex-container) > *,
  .freeBox__ayNfy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ayNfy > :global(.__wab_flex-container) > picture > img,
  .freeBox__ayNfy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.freeBoxscrolledVariant__ayNfy5QQyu {
  background: none;
}
.freeBox__dk75O {
  display: flex;
  margin-right: 0px;
}
.img__mpDqg {
  object-fit: cover;
  width: auto;
  height: 40px;
  position: relative;
  margin-right: 0;
  cursor: pointer;
}
.img__mpDqg > picture > img {
  object-fit: cover;
}
.freeBox__nojeX {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__nojeX > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__nojeX > :global(.__wab_flex-container) > *,
.freeBox__nojeX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nojeX > :global(.__wab_flex-container) > picture > img,
.freeBox__nojeX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nojeX {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nojeX > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nojeX > :global(.__wab_flex-container) > *,
  .freeBox__nojeX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nojeX > :global(.__wab_flex-container) > picture > img,
  .freeBox__nojeX
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.tab2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__b1Cb8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___2DlCf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tab8:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wdyJn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pSfk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tab3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__jWOde {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jLL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tab7:global(.__wab_instance) {
  max-width: 100%;
}
.svg___0MnLv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wUl69 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tab4:global(.__wab_instance) {
  max-width: 100%;
}
.svg__zVuPr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__focVl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tab5:global(.__wab_instance) {
  max-width: 100%;
}
.svg__fwwmj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__r9VmA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tab6:global(.__wab_instance) {
  max-width: 100%;
}
.svg__dNZhj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__iiES {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__gTtr2 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__gTtr2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__gTtr2 > :global(.__wab_flex-container) > *,
.freeBox__gTtr2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gTtr2 > :global(.__wab_flex-container) > picture > img,
.freeBox__gTtr2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gTtr2 {
    display: flex;
    flex-direction: row;
    width: auto;
    overflow: auto;
    margin-top: calc(1px + 0px) !important;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: calc(1px + 16px) !important;
    padding: 0px 41px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gTtr2 > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-left: calc(0px - 90px);
    width: calc(100% + 90px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gTtr2 > :global(.__wab_flex-container) > *,
  .freeBox__gTtr2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gTtr2 > :global(.__wab_flex-container) > picture > img,
  .freeBox__gTtr2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 90px;
    margin-top: 8px;
  }
}
.freeBoxservicesPageOpen__gTtr2FCmcR {
  display: none;
}
.freeBoxindustryPageOpen__gTtr2AWtv {
  display: none;
}
.tab9:global(.__wab_instance) {
  max-width: 100%;
}
.svg___3FpOg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__oYup3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tab10:global(.__wab_instance) {
  max-width: 100%;
}
.svg__bw6Pe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__bQxz0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tab11:global(.__wab_instance) {
  max-width: 100%;
}
.svg__fdMxP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vp1Bw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tab12:global(.__wab_instance) {
  max-width: 100%;
}
.svg__dMhi9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__dgEfN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tab13:global(.__wab_instance) {
  max-width: 100%;
}
.svg___6GWf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__shf9P {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tab14:global(.__wab_instance) {
  max-width: 100%;
}
.svg__vt0Ya {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__f6BGn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tab15:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ua09Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fNm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__nwWbF {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__nwWbF {
    display: none;
  }
}
.svg__nm0Om {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__nm0Om {
    display: block;
  }
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2:global(.__wab_instance) {
    display: none;
  }
}
.svg__sZaeX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-iQUmYDsMxK6D);
}
.svg__wtpiD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-iQUmYDsMxK6D);
}
.freeBox___17TzM {
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  display: none;
  border-radius: 8px;
  padding: 8px;
}
.freeBoxcompanyPageOpen___17TzM6UNc5 {
  display: flex;
}
.freeBoxservicesPageOpen___17TzMfCmcR {
  display: flex;
}
.freeBoxindustryPageOpen___17TzMaWtv {
  display: flex;
}
.companyTab:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .companyTab:global(.__wab_instance) {
    display: none;
  }
}
.companyTabcompanyPageOpen:global(.__wab_instance) {
  display: flex;
}
.companyTabservicesPageOpen:global(.__wab_instance) {
  display: none;
}
.servicesTab:global(.__wab_instance) {
  max-width: 100%;
}
.servicesTabcompanyPageOpen:global(.__wab_instance) {
  display: none;
}
.servicesTabindustryPageOpen:global(.__wab_instance) {
  display: none;
}
.industryTab:global(.__wab_instance) {
  max-width: 100%;
}
.industryTabcompanyPageOpen:global(.__wab_instance) {
  display: none;
}
.industryTabservicesPageOpen:global(.__wab_instance) {
  display: none;
}
.industryTabindustryPageOpen:global(.__wab_instance) {
  display: flex;
}
.freeBox___1Ihlh {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  display: none;
  padding: 28px;
}
.freeBoxcompanyPageOpen___1Ihlh6UNc5 {
  display: flex;
}
.freeBoxservicesPageOpen___1IhlhFCmcR {
  display: flex;
}
.freeBoxindustryPageOpen___1IhlhAWtv {
  display: flex;
}
.svg__egUvL {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  display: none;
  margin: 0px;
}
.svgcompanyPageOpen__egUvL6UNc5 {
  display: block;
}
.svgservicesPageOpen__egUvLfCmcR {
  display: block;
}
.svgindustryPageOpen__egUvLaWtv {
  display: block;
}
