.comparisonSection2 {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: auto;
  grid-row-gap: 40px;
  background: none;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 120px 16px;
}
.comparisonSection2 > * {
  grid-column: 4;
}
.freeBox__ohkl5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1200px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__ohkl5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__ohkl5 > :global(.__wab_flex-container) > *,
.freeBox__ohkl5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ohkl5 > :global(.__wab_flex-container) > picture > img,
.freeBox__ohkl5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox___9Te9P {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1080px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.text__qOrKh {
  font-size: 40px;
  line-height: 1.2;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--token-jy1LdMmfq4Ph);
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  max-width: 627px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qOrKh {
    font-size: 28px;
  }
}
.freeBox__lhdRu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__lhdRu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__lhdRu > :global(.__wab_flex-container) > *,
.freeBox__lhdRu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lhdRu > :global(.__wab_flex-container) > picture > img,
.freeBox__lhdRu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.img {
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.text__wk5Ha {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-toxg7vT6RHF0);
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  max-width: auto;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wk5Ha {
    font-size: 14px;
  }
}
